div.main{
    background-color: white;
    font-family:'Courier New', Courier, monospace;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.title{
    font-size: 48px;
    font-weight: 600px;
}
.app{
    display: flex;
    width: 500px;
    height: 500px;
    border: 1px solid black;
    flex-wrap: wrap;
    
}
.innerbox{
    flex: 1;
    justify-self: flex-start;
    align-self:flex-start;
    aspect-ratio: 1/1;
    box-sizing: border-box;

}
.foot{
    display: flex;
    flex-direction: column;
    justify-content: center;
}